body {
    background-color: rgb(60, 82, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.MyH {
    color: white;
    text-align: center;
}

.MyInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0px auto;
}

.MyInput input {
    width: 70%;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    flex: 1 1 250px; /* to resize  */
}

.MyInput button {
    min-width: 90px;
    width: 20%;
    border: 0;

    font-family: inherit;
    font-size: inherit;
}

#createButton {
    background-color: rgb(184, 175, 175);
}

#clearButton {
    background-color: rgb(224, 35, 35);
}

ol {
    list-style-type: none;
    width: 50%;
    margin: 40px auto;

    font-family: inherit;
    font-size: inherit;
}

ol li {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

ol li:hover{
    background-color: lightgray;
}

ol li:has(input:checked){
    background-color: gray;
}

.MyLabel {
    display: flex;
    flex-direction: row;
}


.MyLabel:has(input:checked) .TaskText{
    text-decoration: line-through;
}

.TaskText {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 10px;
}


.SubTaskText {
    text-decoration: none;
    font-size: 0.7em;
    color: rgb(80, 80, 80);
}


.site-footer {
    text-align: center;
    color: white;
}

.MyButton {
    border: 0px;
    background-color: inherit;
}