body {
    background-color: rgb(60, 82, 75);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    min-height: 100vh
}

main
{
    flex: 1;
}

html, body{
    height: 100%
}

.Header {
    color: white;
    text-align: center;
}

.MyInput{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 0px auto;
}

.MyInput input {
    border: 0;
    font-family: inherit;
    font-size: inherit;
    flex: 0 0 252px; /* to resize  */
}

.MyInput button {
    min-width: 90px;
    flex: 0 0 128px;
    border: 0;
    font-family: inherit;
    font-size: inherit;
}

#createButton {
    background-color: rgb(184, 175, 175);
}

#createButton:hover{
    background-color: rgb(200, 195, 195);
}

#clearButton {
    background-color: rgb(224, 35, 35);
}

#clearButton:hover {
    background-color: rgb(235, 50, 50);
}

ol {
    list-style-type: none;
    width: 50%;
    margin: 40px auto;

    font-family: inherit;
    font-size: inherit;
}

ol li {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

ol li:hover{
    background-color: lightgray;
    color: darkslategrey
}

ol li:has(input:checked){
    background-color: gray;
    color: white
}


.MyLabel {
    display: flex;
    flex-direction: row;
}

.MyLabel:has(input:checked) .TaskText{
    text-decoration: line-through;
}

.TaskText {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 10px;
}

.SubTaskText {
    font-size: 0.7em;
}

.site-footer {
    text-align: center;
    color: white;
    flex-shrink: 0;
    
}


.LiButton {
    font-size: 1em;
    border: 0px;
    background-color: inherit;
    color: inherit;
}
